{% extends 'base.html' %}

{% block title %}Audio Translation/Transcription{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='translate/app.css') }}">
<script src="{{ url_for('static', filename='translate/app.js') }}" defer></script>
{% endblock %}

{% block body %}
<h1>KoyorAI Translation/Transcription</h1>
<p>
    Give the recorder access to your mircrophone and the widget will 
    automatically identify the language being spoken 
    and translate it to English in real time. If
    provided with English audio, it will instead transcribe the audio as it
    is being spoken.
</p>
<p>
    Press record to have the translation service begin listening to your
    mircrophone and live-translating the audio in the window below. Press
    pause to temporarily stop recording/translating without resetting the
    current translation. Press download to download the audio of the
    current session along with an anotated subtitle English subtitle file.
    Press reset to clear the current recording and translation to start a
    fresh translation.
</p>
<div class="recorder">
    <button class="record-button">Record</button>
    <button class="reset-button">Reset</button>
</div>
{% endblock %}
