{% extends 'base.html' %}

{% block title %}Audio Translation/Transcription{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='translate/app.css') }}">
<script src="{{ url_for('static', filename='translate/app.js') }}" defer></script>
{% endblock %}

{% block body %}
<h1>KoyorAI Translation/Transcription</h1>
<p>
    Give the recorder access to your mircrophone and the widget will 
    automatically identify the language being spoken 
    and translate it to English in real time. If
    provided with English audio, it will instead transcribe the audio as it
    is being spoken.
</p>
<p>
    Press start to have the translation service begin listening to your
    mircrophone and live-translating the audio in the window below. Press
    stop to temporarily stop recording/translating without resetting the
    current translation. Press reset to clear the current recording and
    translation to start a fresh translation.
</p>
<div class="recorder">
    <div class="controls">
        <button class="record-button">Start</button>
        <button class="reset-button">Reset</button>
    </div>
    <div class="output">
        <div class="output-label">Output:</div>
        <div class="output-field"></div>
    </div>
</div>
{% endblock %}
