.header {
    align-items: end;
    background-color: brown;
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.header-item {
    margin-right: 1em;
}

.header-item > a {
    color: white;
    text-decoration: none;
}

.home-link > a {
    font-size: 2em;
}

.body-wrapper {
    padding: 1em;
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 0.75em;
}